---
import CardMusic from "./cardMusic";
import { songs } from "../constants/songs";
---

<section class="mt-16">
    <h1 class="text-5xl font-bold">Recomendaciones</h1>
    <div class="flex gap-7 mt-6 overflow-x-auto scrollItem">
        {songs.map(song => <CardMusic imgUrl={song.urlImg} nameSong={song.nameSong} artistName={song.artistName} artistsLinkYoutube={song.artistsLinkYoutube} id={song.id} client:load></CardMusic>)}
    </div>
</section>

<style>
    .scrollItem::-webkit-scrollbar {
        width: 10px;
        height: 13px;
    }
    .scrollItem::-webkit-scrollbar-thumb {
        background-color: #606060;
        border-radius: 3px; 
    }

    .scrollItem::-webkit-scrollbar-track {
        background-color: var(--colorFondo);
        border-radius: 5px;
    }
</style>



            
        